* {
  margin: 0;
  padding: 0;
}

button,
.primary {
  background: #040265 !important;
  color: #fff !important;
}
.hr {
  border: 1px solid #040265 !important;
}
.text {
  color: #040265 !important;
}
.text1 {
  color: #040265 !important;
  border-bottom: 3px solid #040265 !important;
}
.container h2 {
  position: relative;
}
.container h2::before {
  content: "";
  position: absolute;
  height: 90%;
  top: 50% !important;
  transform: translateY(-50%);
  width: 5px;
  border-radius: 5px;
  left: -1px !important;
  background-color: #040265 !important;
}
