* {
  margin: 0;
  padding: 0;
}

.shadow{
  box-shadow: none !important;
}

.lashadow{
  box-shadow: 2px 3px 5px #0402654a;
  border-radius: 5px;
  border-bottom: 2px solid #0402659c !important;
  border-top: 2px solid #0402659c !important;
  border-left: 1px solid #0402654a !important;
  border-right: 1px solid #0402654a !important;
}

.lashadow:hover{
  box-shadow: -2px -2px 15px #04026559;
  transition: all .3s ease-in-out;
}

button,
.primary {
  background: #040265 !important;
  color: #fff !important;
}
.hr {
  border: 1px solid #040265 !important;
}
.text {
  color: #040265 !important;
}
.text1 {
  color: #040265 !important;
  top: 20px;
  text-align: center;
  font-size: 16px !important;
  text-decoration: underline;
  /* left: 10px; */
  /* border-bottom: 3px solid #040265 !important; */
}
.container h5 {
  position: relative;
  margin-top: 4rem;
}
.container h5::before {
  content: "";
  position: absolute;
  height: 90%;
  top: 50% !important;
  transform: translateY(-50%);
  width: 5px;
  border-radius: 5px;
  left: -1px !important;
  background-color: #040265 !important;
}

a{
  text-decoration: none;
}
