.navbar{
    border-bottom: 1px solid #040265 !important;
    font-family: "Roboto", sans-serif;
}

.nav-link{
    border-bottom: 1px solid #040265 !important;
    background-color: #040265 !important;
}

.nav-item a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-bottom: 1px solid #040265;
}

.form-control{
    border: 1px solid #040265 !important;
    margin: auto;
    max-width: 50%;
    font-family: "Roboto", sans-serif;
    color: rgb(252, 246, 246);
}
i{
    font-size: 1.5rem;
    position: relative;
    right: 22rem;
    top: 1.5rem;
}
.image{
    background: url('/unsplash_p9vr45T2scg.png') center center no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    width: 90%;
    margin: auto;
    height: 500px;
    /* marg; */
    display: flex;
    align-items: center;
    position: relative;
}

.text-travel{
    position: relative;
    z-index: 20;
    color: #040265;
    width: 70%;
    /* background-color: #04026565; */
    margin: auto;
    /* height: 100%; */
    /* padding: 20px 10px; */
}

.image::before{
    content: '';
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {

    i{  
        position: relative;
        right: 10rem;
        top: 1.5rem;
    }
    

}