.moncontainer{
    width: 100%;
    height: 100vh;
    /* margin-top: -20px; */
    position: relative;
}

.navbar{
    border-bottom: 1px solid #040265 !important;
    font-family: "Roboto", sans-serif;
    padding: 10px 0 !important;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-brand{
    font-size: 25px;
    color: #040265;
    font-weight: 700;
}

.navbar-brand img{
    width: 150px;
}

.nav-link{
    border-bottom: 1px solid #040265 !important;
    background-color: #040265 !important;
}

.nav-item a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-bottom: 1px solid #040265;
}

.form-control{
    border: 1px solid #040265 !important;
    margin: auto;
    max-width: 50%;
    font-family: "Roboto", sans-serif;
    color: rgb(252, 246, 246);
}
i{
    font-size: 1.5rem;
    position: relative;
    right: 22rem;
    top: 1.5rem;
    pointer-events: none;
}
.image{
    background: url('/unsplash_p9vr45T2scg.png') center center no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    width: 100%;
    /* margin: auto; */
    min-height: 100vh;
    /* marg; */
    display: flex;
    align-items: center;
    position: relative;
}

.text-travel{
    /* position: relative; */
    z-index: 20;
    color: #040265;
    background-color: white;
    width: 100%;
    opacity: 0.8;
    /* height: 20vh; */
    padding: 20px 0;
    /* background-color: #04026565; */
    /* margin: auto; */
    /* height: 100%; */
    /* padding: 20px 10px; */
}

.text-travel .trave-contain{
    width: 80%;
    margin: auto;
}

.image::before{
    content: '';
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}

.linput{
    position: absolute;
    top: 70px;
    width: 100%;
    margin: auto;
    z-index: 30;
}

@media screen and (max-width: 768px) {

    i{  
        position: relative;
        right: 10rem;
        top: 1.5rem;

    }
    

}