.cardSimule{
    width: 90%;
    padding: 15px;
    margin: auto;
    /* background-color: wheat; */
}

.containerVols{
    background-color: white;
    box-shadow: 0 0 10px #040265;
    border-radius: 5px;
    padding: 10px;
    color: #040265;
    margin: 15px 0;
}

.cardSimule .containe{
    display: flex;
    width: 100%;
    gap: 20px;
    /* background-color: aqua; */
}

.containe .informations{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.informations .right{
    text-align: right;
}

.bar{
    width: 80%;
    margin: auto;
    height: 5px;
    background-color: #040265;
}

.placeReserve{
    text-align: center;
}

.titre{
    position: relative;
    /* margin-left: 10px; */
}

.titre::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 80%;
    background-color: blue;
    left: -15px;
}