.sectionDecouve{
    width: 90%;
    margin: 5rem auto !important;
    /* margin-top: 6rem !important; */
    /* margin-bottom: 5rem !important; */
}

.sectionDecouve h5{
    color: #040265;
    margin-bottom: 1rem;
    position: relative;
    margin-left: 10px;
}

.sectionDecouve h5::before{
    content: '';
    position: absolute;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    border-radius: 5px;
    left: -15px;
    background-color: #040265;
}

.lesImages{
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px){
    .lesImages{
        justify-content: center;
    }
}

.lesImages .card{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #04026552;
    position: relative;
    padding: 5px;
}

.card img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* .sectionDecouve button{
    background-color: #040265;
} */

.sectionDecouve button{
    background-color: #040265;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 15px;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: none;
    outline: none;
}