.details{
    width: 80%;
    min-height: 75vh;
    margin: auto;
    padding: 15px;
}

.details .partDetails{
    width: 100%;
    padding: 10px;
    background-color: #040265;
    color: white;
}

.details .informations{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #040265;
    padding-bottom: 15px;
}

.informations .infos,
.informations .infos-d{
    color: #040265;
}

.infos-d{
    text-align: right;
}

.barre{
    width: 60%;
    height: 2px;
    background-color: #040265;
}

.supplementaire{
    /* margin: 15px 0; */
    color: #040265;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #040265;
}

.supplementaire h6{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.supplementaire .titre{
    text-decoration: underline;
    /* opacity: 0.7; */
    color: black;
    font-size: 13px;
}

.supplementaire .valeur{
    font-size: 16px;
}

.connfirmer{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.connfirmer button{
    background-color: #040265;
    padding: 10px 12px;
    box-shadow: 2px 2px #04026553;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}