@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    border-bottom: 1px solid #040265 !important;
    font-family: "Roboto", sans-serif;
}

.nav-link{
    border-bottom: 1px solid #040265 !important;
}
.form-control{
    border: 1px solid #040265 !important;
    margin: auto;
    max-width: 50%;
    font-family: "Roboto", sans-serif;
    color: rgb(252, 246, 246);
}
i{
    font-size: 1.5rem;
    position: relative;
    right: 22rem;
    top: 1.5rem;
}
.image{
    background: url('/unsplash_p9vr45T2scg.png') center center  
    no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    width: 70%;
    margin: auto;
    height: 500px;
    /* marg; */
}

@media screen and (max-width: 768px) {

    i{  
        position: relative;
        right: 10rem;
        top: 1.5rem;
    }
    

}